
<form method="post" action="/articles">
  <ul>
    <li>
      <label for="article[title]">Title</label>
      <input id="title" type="text" name="article[title]" />
    </li>
    <li>
      <label for="article[content]">Content</label>
      <textarea id="content" type="text" name="article[content]">
      </textarea>
    </li>
  </ul>
  <input type="submit" />
</form>