<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CREATE ARTICLE</title>
  </head>
  <body>
    <form class="" action="/articles" method="post">
      <!-- form goes here -->
      Title: <input type="text" name="title">
      Content :<input type="text" name="content">
      <input type="submit">

    </form>


  </body>
</html>
